@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/bgimg.png'), linear-gradient(to right,#ffff, #DE431380);
    background-size: contain;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    
}

.topnav {
    overflow: hidden;
    background-image: linear-gradient(to right, #FEC163 , #DE4313);
    position: relative;
  }
  
  .topnav a {
   
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #FEC163;
    color: black;
  }
  
.tagline img{

    width: 40%;

  }

  .tagline{


    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    margin: 40px;
    border: 10%;
    
  }

  .learnmore{

    background-color: #FEC163;
    display: inline;
    margin: 30px;
    padding: 20px;
    border-radius: 16px;
    bottom: 5000px;
    

  }

   
  .learnmore a {
    color: #060000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: opacity 1s ease-out;
    
  }

  .learnmore a:hover {
    color: rgb(199, 70, 5);
  }

.learnmore-details {

  padding: 30px;
  padding-top: 200px;
  text-wrap: balance;
  margin-right: 50%;
  border-radius: 20px;
 
}

.learnmore-text {

  align-items: center;
  background-color: #FEC16380;
  padding: 70px;
  margin: 5%;
  width: 180%;
  height: 400%;
  border-radius: 30px;
  font-size: 20px;
  display: flexbox;
  text-align: justify;


  
}

.learnmore-text h1{

  color: #DE4313;
  text-align: center;
}
